<%- include("partials/header") %>

<div class="container edit-container" style="padding-top: 50px">
    <h3 class="center">Edit note</h3>
    <div class="edit-form"">
        <p>Edit the information in the form below</p>
        <form action="/notes/<%= note._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="title" value="<%= note.title %>">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="content" value="<%= note.content %>">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="media" value="<%= note.media %>">
            </div>
            <div class="form-group">
                <input type="submit" class="form-control" value="Add note">
            </div>
        </form>
    </div>
</div>

<%- include("partials/footer") %>