<%- include("partials/header") %>

<div class="container index-container">
    <div class="jumbotron">
        <h1>Notes</h1>
        <% if(!currentUser) { %>
            <p>Sign in or register to add a note</p>
        
        <% } %>

        <% if(currentUser) { %>
            <a href="/notes/new">Add note</a>

        <% } %>
    </div>

    <div class="note-container">

        <% notes.forEach(note => { %>
            <% if(currentUser && note.author.id.equals(currentUser._id)) { %>
                <div class="card note">
                    <h3 class="note-title"><%= note.title %></h3>
                    <p class="note-content"><%= note.content %></p>
                    <div class="note-media">
                        <img src="<%= note.media %>" class="media-pic">
                    </div>
                    <a href="/notes/<%= note._id %>" class="btn btn-success">View note</a>
                </div>

            <% } %>

        <% }) %>
    </div>
</div>

<%- include("partials/footer") %>